* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(77, 76, 76);
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

.wrapper {
  max-width: 100%;
  background-size: cover;
}

header {
  width: 100%;
}
.header-container {
  position: relative;
  width: 100%;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  background: #000;
  height: 80px;
  opacity: .6;
    .fa-home {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 80px;
      width: 36px;
      height: 32px;
      padding-left: 30px;
      color: #fff;
      font-size: 35px;
    }
}
.header-list {
  list-style: none;
  display: flex;
  li {
    margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 80px;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}
.header-image {
  position: relative;
  height: 35rem;
    h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      font-size: 85px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // opacity: .4;
    }
}
.side-bar-menu {
  display: none;
}

.profile {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.profile-container {
  width: 80%;
  margin: 0 auto;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    background-position: right;
  }
  p {
    display: inline-block;
    margin-bottom: 20px;
    width: 360px;
    padding: 20px 30px;
  }
}
.profile-content {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.skill {
  padding: 50px 0;
  background: #fff;
  h2 {
    font-size: 60px;
    text-align: center;
  }
}
.skill-container {
  width: 90%;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}
.table-content {
  font-size: 35px;
  margin: 0 auto;
}
.value {
  padding-left: 20px;
}
.white {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #222; 
}
.black {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #222; 
}

.production {
  width: 100%;
}
.production-container {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
  h2 {
    font-size: 60px;
    text-align: center;
  }
}
.product-inner {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 400px;
  margin: 0 auto;

.image-inner {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  a {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    border: none;
  }
  .image-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    text-align: center;
    transition: all .5s ease;
    visibility: hidden;
      p {
        // padding-top: 145px;
        color: #fff;
        opacity: 0;
        font: {
          size: 20px;
        }
      }
    }
    &:hover .image-hover {
    visibility: visible;
    } 
    &:hover .image-hover p {
      opacity: 1;
      transition: 1.5s ease;
    }
    &:hover .mask1 {
      top: 0;
    }
    &:hover .mask2 {
      bottom: 0;
    }
  }
  .mask1, .mask2 {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, .6);
    transition: all .4s ease;
  }
  .mask1 {
    top: -50%;
  }
  .mask2 {
    bottom: -50%;
  }
}

#modal1, #modal2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 33;
}
.modal-background {
  background: rgba(0, 0, 0, .6);
  height: 100vh;
  position: absolute;
  width: 100%;
    &:after {
      content: '';
      position: relative;
    }
}
.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    img {
      height: 100vh;
    }
}
.modal-close {
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: none;
  color: #fff;
  outline: 0;
}

.production-container a {
  width: 120px;
  display: block;
  text-decoration: none;
  margin: 20px auto;
  &:hover {
    color: #fff;
  }
}
.details {
  display: flex;
  justify-content: center;
    a {
      margin: 0 40px;
    }
    button {
      padding: 8px 14px;
  text-align: center;
  border-radius: 7px;
  background: #fff;
  color: rgb(116, 236, 226);
  border: 2px solid rgb(116, 236, 226);
  letter-spacing: .1em;
  font: {
    size: 16px;
    weight: bold;
  }
    &:hover {
      color: #fff;
      background: rgb(116, 236, 226);
      transition: all .4s ease;
    }
    }
}
.production-button {
  padding: 8px 14px;
  text-align: center;
  border-radius: 7px;
  background: #fff;
  color: rgb(116, 236, 226);
  border: 2px solid rgb(116, 236, 226);
  letter-spacing: .1em;
  font: {
    size: 16px;
    weight: bold;
  }
    &:hover {
      color: #fff;
      background: rgb(116, 236, 226);
      transition: all .4s ease;
    }
}

footer {
  background: rgba(0, 0, 0, .2);
}
.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  // background: rgba(0, 0, 0, .2);
  background: url(./img/photo1.jpg);
  background-position: bottom;
  background-size: cover;
}
form {
  width: 50%;
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 7px;    
    outline: none; 
  }
  p {
    font-weight: bold;
    padding-left: 5px;
  }
}
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
  outline: none; 
}
.send {
  width: 80px;
  height: 35px;
  padding: 3px 7px;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  letter-spacing: .2em;
  background: rgb(48, 149, 250);
  border: none;
  // text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
  border-bottom: 4px solid rgb(7, 131, 255);
  outline: none; 
  font: {
    size: 17px;
    weight: bold;
  }
    &:active {
      border-bottom: none;
      transform: translateY(4px);
    }
}


.scroll-top {
  position: fixed;
  // bottom: 5%;
  right: 5%;
  z-index: 33;
  transition: .5s;
  transition-delay: .1s;
}

.copyright {
  width: 100%;
  height: 80px;
  background: rgb(241, 252, 252);
    small {
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      line-height: 80px;
      color: rgb(164, 234, 247);
    }
}
