@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #4d4c4c;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

.wrapper {
  max-width: 100%;
  background-size: cover;
}

header {
  width: 100%;
}

.header-container {
  position: relative;
  width: 100%;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #000;
  height: 80px;
  opacity: .6;
}

.header-menu .fa-home {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 80px;
  width: 36px;
  height: 32px;
  padding-left: 30px;
  color: #fff;
  font-size: 35px;
}

.header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list li {
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 80px;
}

.header-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-image {
  position: relative;
  height: 35rem;
}

.header-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 85px;
}

.header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-bar-menu {
  display: none;
}

.profile {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.profile h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-container {
  width: 95%;
  margin: 0 auto;
}

.profile-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  background-position: right;
}

.profile-container p {
  display: inline-block;
  margin-bottom: 20px;
  width: 500px;
  padding: 10px 30px 20px;
  font-size: 18px;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.skill {
  padding: 50px 0;
  background: #fff;
}

.skill h2 {
  font-size: 60px;
  text-align: center;
}

.skill-container {
  width: 90%;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.table-content {
  font-size: 35px;
  margin: 0 auto;
}

.value {
  padding-left: 20px;
}

.white {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #222;
}

.black {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #222;
}

.production {
  width: 100%;
}

.production-container {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

.production-container h2 {
  font-size: 60px;
  text-align: center;
}

.product-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.image-inner {
  position: relative;
  overflow: hidden;
  width: 30%;
  margin: 20px;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
}

.image-inner img {
  width: 100%;
  height: 100%;
  border: none;
}

.image-inner:hover .image-hover {
  opacity: 1;
}

.image-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.image-hover p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  color: #fff;
  font-size: 18px;
}

.production-link {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.production-button {
  padding: 8px 14px;
  text-align: center;
  border-radius: 7px;
  background: #fff;
  color: #74ece2;
  border: 2px solid #74ece2;
  letter-spacing: .1em;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.production-button:hover {
  color: #fff;
  background: #74ece2;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

footer {
  background: rgba(0, 0, 0, 0.2);
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  background: url(./photo1.jpg);
  background-position: bottom;
  background-size: cover;
}

form {
  width: 40%;
}

form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  outline: none;
}

form p {
  font-weight: bold;
  padding-left: 5px;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
  outline: none;
}

.send {
  width: 80px;
  height: 35px;
  padding: 3px 7px;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  letter-spacing: .2em;
  background: #3095fa;
  border: none;
  border-bottom: 4px solid #0783ff;
  outline: none;
  font-size: 17px;
  font-weight: bold;
}

.send:active {
  border-bottom: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.scroll-top {
  position: fixed;
  right: 5%;
  z-index: 33;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.copyright {
  width: 100%;
  height: 80px;
  background: #f1fcfc;
}

.copyright small {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  color: #a4eaf7;
}
/*# sourceMappingURL=main2.css.map */